@import url("https://fonts.googleapis.com/css?family=Bitter");
@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto&display=swap');

html {
    font-family: "Lato", serif;
    color: #333;
    position: relative;
    min-height: 100%;
}
body {
    padding-top: 56px;
    /* Margin bottom by footer height */
    margin-bottom: 150px;
}

h2, h3, h4, h5, strong {
    color: #5d5555;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #1b5590 !important;
    padding-bottom: 1.5rem !important;
    padding-top: 1.5rem !important;
}
.cover-principal {
    background-image: url("https://cdn.civitatis.com/espana/estepona/excursion-tanger.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
}
.title-ibss {
    font-size: 3rem;
    color: #ffffff;
    text-shadow: -1px 0 #333, 0 1px #333, 1px 0 #333, 0 -1px #333;
}
.location-text {
    font-size: 1.5rem;
}
.bg-dark {
    background-color: #1b5590 !important;
}
blockquote {
    position: relative;
    display: inline-block;
    background: #eee;
    padding: 20px 10px 15px 12px;
    border-radius: 10px;
    font-family: "Bitter", serif;
    color: #333;
    text-align: left;
    box-shadow: 1px 1px 1px #999, 2px 2px 1px #999, 3px 3px 1px #999;
    transition-duration: 0.3s;
}
.copy {
    text-decoration: none;
    color: white;
}
.copy:hover {
    color: white;
    text-decoration: none;
}

.logos img{
    margin-top: 30px;
    height: 60px;
    padding-right: 10px;
}